COMPOSE_PROJECT_NAME=mini-ecommerce

POSTGRES_CONTAINER_NAME=mini_ecommerce_postgres
POSTGRES_DB=mini_ecommerce_db
POSTGRES_USER=mini_ecommerce_user
POSTGRES_PASSWORD=change_this_password
POSTGRES_PORT=5432

PGADMIN_CONTAINER_NAME=mini_ecommerce_pgadmin
PGADMIN_DEFAULT_EMAIL=admin@mini-ecommerce.local
PGADMIN_DEFAULT_PASSWORD=change_this_password
PGADMIN_PORT=8080
